

h1{
	padding: 10px;
	font-size: 40px;
	font-family: 'Amatic SC', cursive;
}
#underline{
	border-bottom: 3px solid black;
}
img{
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 30%;
	height: 20%;
	float: left;
}

